@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
