.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: 600px;
  /* width: 70%; */
  scrollbar-width: none;
  -ms-overflow-style: none;

  overflow-y: scroll;
}
.feed::-webkit-scrollbar {
  display: none;
}
.feed__header {
  position: sticky;
  top: 0;

  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
}
.feed__header > h2 {
  padding: 5px;
  font-weight: bold;
}
