.Twittericon {
  color: #00a2f3;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  color: white !important;
  border: none !important;
  font-weight: 700 !important;
  border-radius: 50px !important;
  text-transform: inherit !important;
  width: 180px !important;
  margin-left: 10px !important;
  margin-top: 10px !important;

  height: 50px !important;
  font-size: 16px !important;
}
